body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    height: auto;
}   

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* #region header styles */

.main-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
    padding: 24px 0;
}

.logo-main-color {
    color: #4d5ae5;
}

.navigation-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
} 
.navigation-list-item {
    position: relative;
}

.navigation-link,
.navigation-link:visited {
    display: block;
    padding: 24px    0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.current {
    color: #4d5ae5;
}
.navigation-link.current::after {
    content: "";
    background-color: #4d5ae5;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.navigation-link:hover,
.navigation-link:focus{
    color: #404bbf;
}


.main-contacts {
margin-left: auto;
}

.contacts-list {
    display : flex;
    align-items: center;
    column-gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #endregion header styles */

/* #region hero styles */

.hero-section {
    background: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url(../images/bckgrd_img/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    width: 1440px;
    margin: 0 auto;
    }

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 48px auto;
    max-width: 496px;

}

.hero-button {
    display: block;
    background-color: #4d5ae5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin: 0 auto 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

/* #endregion hero styles */

/* #region about styles */
.about-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.about-list-item {
    max-width: 264px;
}

.about-list-icon {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.about-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion about styles */

/* #region team styles  */
.team-section {
    background: #f4f4fd;
}

.team-container {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    max-width: 264px;
}

.team-description {
    padding: 32px 16px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-social-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.social-link-list {
    display: flex;
    gap: 24px;

}

.team-social-link,
.team-social-link:visited {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #31d0aa;
}
/* #endregion team styles  */

/* #region portfolio styles */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    
}

.portfolio-list {
    max-width: 360px;
}
.portfolio-product {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
    
}

.portfolio-projects {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}

/* #endregion portfolio styles */

/* #region footer styles */
.footer-block {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;

   
    
}
.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

/* #endregion footer styles */